# Application Variables
APPLICATION_NAME=localbet-backend
APPLICATION_HOST=0.0.0.0
APPLICATION_PORT=8080
FRONTEND_URL=http://localhost:5000
LOG_LEVEL=INFO | DEBUG | WARNING | ERROR | CRITICAL

# Security Variables
SECRET_KEY=super-secret-key
ACCESS_TOKEN_EXPIRATION_TIME=300
ACCESS_TOKEN_NOT_BEFORE_TIME=0
REFRESH_TOKEN_EXPIRATION_TIME=2_592_000
REFRESH_TOKEN_NOT_BEFORE_TIME=0

# Database Variables
# The database host depends on your environment setup.
# If you are using Docker, set it to the name of the database container/service.
# If you are running the database locally, set the docker interface IP.
DATABASE_HOST=
DATABASE_PORT=5432
DATABASE_USERNAME=backend
DATABASE_PASSWORD=backend
DATABASE_NAME=localbet_database
DATABASE_VERSION=16.4-alpine
DATABASE_MINIMUM_CONNECTIONS=1
DATABASE_MAXIMUM_CONNECTIONS=5
