# Application Variables
APPLICATION_NAME=localbet-backend
APPLICATION_HOST=0.0.0.0
APPLICATION_PORT=8080
FRONTEND_URL=http://localhost:8080
LOG_LEVEL=INFO | DEBUG | WARNING | ERROR | CRITICAL

# Database Variables
# The database host depends on your environment setup.
# If you are using Docker, set it to the name of the database container/service.
# If you are running the database locally, set the docker interface IP.
DATABASE_HOST=
DATABASE_PORT=5432
DATABASE_USERNAME=database
DATABASE_PASSWORD=database
DATABASE_NAME=localbet-backend
DATABASE_VERSION=16.4-alpine
DATABASE_MINIMUM_CONNECTIONS=1
DATABASE_MAXIMUM_CONNECTIONS=5