# Remember to add the package, its single version and the documentation page
# Try to add as many dependencies as possible in the constraints.txt file, of the packages you are using

# pydantic-settings is part of the Pydantic ecosystem and is used for managing application settings.
pydantic-settings==2.7.1  # https://docs.pydantic.dev/latest/concepts/pydantic_settings

# typing-extensions provides additional type hints and features for Python's typing module.
typing-extensions>=4.4.0 # https://pypi.org/project/typing-extensions/

# psycopg is a PostgreSQL adapter for Python.
psycopg[pool, binary]==3.2.6 # https://github.com/psycopg/psycopg

# fastapi is a modern web framework for building APIs with Python.
fastapi==0.115.6  # https://fastapi.tiangolo.com

# uvicorn is an ASGI server for running FastAPI applications.
uvicorn==0.32.1  # https://www.uvicorn.org

# PyJWT is a Python library for creating and verifying JSON Web Tokens (JWT).
pyjwt[crypto]==2.8.0  # https://github.com/jpadilla/pyjwt

# Authlib is a library for building OAuth and OpenID Connect clients and servers.
Authlib>=1.0.0,<2.0.0  # https://docs.authlib.org

# argon2-cffi is a library for secure password hashing using the Argon2 algorithm.
argon2-cffi==25.1.0  # https://argon2-cffi.readthedocs.io/en/stable
